*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:coral;
    height: 100vh;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    border: 3px solid whitesmoke;
    border-radius: 10px;
    padding: 50px 70px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap:20px;
}
form h3{
    text-align: center;
    color: whitesmoke;
    font-size: 30px;
}

form input{
    height: 45px;
    width: 200px;
    border-radius: 5px;
    border:none;
    line-height: 45px;
    font-size: 20px;
    color: coral
}


input:placeholder-shown{
    padding-left:5px;
    color:rgb(255, 68, 0);
}
input:focus, textarea:focus, select:focus{
    outline: none;
    color: coral;
}
input::placeholder{
    color:coral;
}
button{
    height: 45px;
    border:none;
    border-radius: 5px;
    background-color: whitesmoke;
    font-size: 16px;
    font-weight: 700;
    color: coral;
}
button:hover{
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}
