.options{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.btn-profile{
    text-decoration: none;
    padding: 10px 20px;
    background-color: coral;
    border-radius: 5px;
    color:whitesmoke;
}

.btn-profile:hover{
    background-color: tomato;
}