<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="../static/css/login.css">
    </head>
    <body>
       <button class="button" onclick="location.href='login.html';">Login</button>
       <button class="button" onclick="location.href='registrationUser.html';">Member registration</button>
       <button class="button" onclick="location.href='registrationTrainer.html';">Trainer registration</button>
       <button class="button" onclick="location.href='trainerApproval.html';">Trainer approval</button>
    </body>

</html>