<!DOCTYPE html>
<html>
    <head>
        <title>Member registration</title>
        <link rel="stylesheet" href="../static/css/registrationTrainer.css">
    </head>
    <body>
        <div></div>
            <form class="form">
                <label class="lable" >Trainer registration</label><br>
                <label class="lable" >username:</label>
                <br>
                <input class="input" type="text">
                <br>
                <label class="lable">password:</label>
                <br>
                <input class="input" type="password"><br>
                <label class="lable">name:</label>
                <br>
                <input class="input" type="text">
                <br>
                <label class="lable">surname:</label>
                <br>
                <input class="input" type="text">
                <br>
                <label class="lable">phone number:</label>
                <br>
                <input class="input" type="text">
                <br>
                <label class="lable">e-mail:</label>
                <br>
                <input class="input" type="email">
                <br>
                <label class="lable">birthdate:</label>
                <br>
                <input class="input" type="date">
                <br>
                <button class="button">Register</button>
            </form>
        </div>
    </body>

</html>